@import '../../../stylesheets/mixins.scss';

.statistics{
    height: 99vh !important;
    margin: 5px 15px 0px 15px;

    h1{
        font-size: 50px;
        padding-top: 100px;
        color: white;
    }
    &__loader{
        @include absCenter;
    }
    @media(max-width: 491px){
        .ant-table{
            width: 93vw;
            overflow: auto;
        }
    }
    @media(min-width: 890px){
        &__loader{
            left: 58%;
        }
    }
}


.ant{
    &-table{
        &-row{
            color: gray;
            border: none;
            border-top: 8px solid #191C1F;
            border-bottom: 8px solid #191C1F !important;
        }
        &-bordered, &-body>table{
            border: none !important;
        }
        &-wrapper{
            margin: 0 auto;
        }
        &-content{
            min-width: 570px;
        }
        &-thead{
            line-height: 0.5;
        }
    }
    &-progress{
        &-text{
            color: transparent !important;
        }
        &-circle{
            &-trail{
                stroke: transparent !important;
            }
        }
    }
}

th, td{
    border-left: none !important;
    border-right: none !important;
}

th{
    color: gray !important;
    &:hover{
        cursor: default;
    }
}

tr{
    border-right: 4px solid transparent !important;
    &:hover{
        cursor: pointer;
    }
}



.cryptoLabel{
    display: inline-block;
    line-height: 1.3;
    p{
        display: inline;
        color: white;
    }
}