.statistics{
    height: 99vh !important;
    overflow-y: auto;
    // overflow-x: auto;
    margin: 5px 15px 0px 15px;

    h1{
        font-size: 50px;
        padding-top: 100px;
        color: wheat;
    }
}


th, td{
    border-left: none !important;
    border-right: none !important;
    line-height: 0.5;
}

th{
    color: gray !important;
    &:hover{
        cursor: default;
    }
}

.ant-table-row{
    
    color: wheat;
    border: none;
    border-top: 8px solid #191C1F;
    border-bottom: 8px solid #191C1F !important;
}
.ant-table-bordered, .ant-table-body > table{
    border: none !important;
}

tr{
    border-right: 4px solid transparent !important;
    &:hover{
        cursor: pointer;
    }
}

.ant-table-wrapper{
    // width: 90%;
    margin: 0 auto;
    // overflow-x: auto;
}

@media(max-width: 491px){
    .ant-table{
        width: 70vw;
    }
}