.inputLine{
    input{
        background: transparent !important;
        outline: none;
        border: none;
        border-radius: 0;
        width: 100%;
        padding: 0px !important;
        height: 25px;
        margin-bottom: 50px;
        margin-top: 20px;
        font-size: 20px;
        &:hover, &:focus{
            outline: none;
        }
        
        
    }
    ::-webkit-input-placeholder {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: gray;
        // line-height: 20px;
        vertical-align: baseline;
        opacity: 1;
      }
}

  
input:focus{
    outline: none;
}